{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "lib": "./lib",
        "db": "./db",
        "helpers": "./src/helpers",
        "config": "./config",
        "middleware": "./src/middleware",
        "models": "./src/models",
        "modules": "./src/modules",
        "locales": "./src/locales"
      }
    }]
]
}